@CHARSET "UTF-8";

.nav-color {
	background-color: #C7CAD5;
}

/* #btn-add {
	position: fixed;
	bottom: 100px;
	right: 100px;
} */

.form-pull-right {
	float: right;
	margin-right: 15px;
}

#btn-container{
	margin: auto;
}

.container-margin-top {
	margin-top: 10px;
}